<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework/Acl/etc/acl.xsd">
    <acl>
        <resources>
            <!-- Root ACL for the Croco_Job module -->
            <resource id="Magento_Backend::admin">

                <resource id="Croco_Job::job_management" title="Job Management" sortOrder="10">

                    <resource id="Croco_Job::department" title="Department Management" sortOrder="10">
                        <resource id="Croco_Job::department_save" title="Save Department" />
                        <resource id="Croco_Job::department_delete" title="Delete Department" />
                    </resource>

                    <!-- ACL for Job -->
                    <resource id="Croco_Job::job" title="Manage Jobs" sortOrder="20">
                        <resource id="Croco_Job::job_save" title="Create Job" />
                        <resource id="Croco_Job::job_delete" title="Delete Job" />
                    </resource>

                    <!-- ACL for Tag -->
                    <resource id="Croco_Job::tag" title="Manage Tags" sortOrder="30">
                        <resource id="Croco_Job::tag_view" title="View Tags" />
                        <resource id="Croco_Job::tag_create" title="Create Tag" />
                        <resource id="Croco_Job::tag_edit" title="Edit Tag" />
                        <resource id="Croco_Job::tag_delete" title="Delete Tag" />
                    </resource>

                </resource>
            </resource>
        </resources>
    </acl>
</config>
