<?xml version="1.0"?>
<!--
/**
 * Copyright © Croco. All rights reserved.
 */
-->
<!--    Croco_Articles::articles-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <!-- Main Admin Resource -->
            <resource id="Magento_Backend::admin">
                <!-- Root Permission for Croco Articles Module -->
                <resource id="Croco_Articles::articles" title="Articles" translate="title" sortOrder="80">

                    <!-- Permissions for Category Management -->
                    <resource id="Croco_Articles::categories" title="Categories" translate="title" sortOrder="10">
                        <resource id="Croco_Articles::categories_edit" title="Edit Category" translate="title" />
                        <resource id="Croco_Articles::categories_delete" title="Delete Category" translate="title" />
                        <resource id="Croco_Articles::categories_save" title="Save Category" translate="title"/>
                    </resource>

                    <!-- Permissions for Article Management -->
                    <resource id="Croco_Articles::articles_manage" title="Articles" translate="title" sortOrder="20">
                        <resource id="Croco_Articles::articles_edit" title="Edit Article" translate="title" />
                        <resource id="Croco_Articles::articles_delete" title="Delete Article" translate="title" />
                    </resource>

                </resource>
            </resource>
        </resources>
    </acl>
</config>
